body {
    font-family: monospace;
    font-size: 0.9em;
    overflow: hidden;
}

#editor, #graph {
    position: absolute;
    top: 5em;
    bottom: 1.5em;
}
#editor {
    left: 0;
    width: 40%;
}
#graph {
    left: 40%;
    right: 0;
    width: 60%;
    overflow: auto;
}
#editor-bar {
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    height: 1.5em;
}

body.save li.nav-item.update,
body.home li.nav-item.update
{
    display: none;
}
body.update li.nav-item.save,
body.fiddle li.nav-item.save
{
    display: none;
}

svg {
    margin: 15px;
}
svg path {
    fill: transparent;
    stroke: black;
}
svg text {
    text-anchor: middle;
    font-family: "Times-Roman", serif;
    font-size: 10pt;
}
