body.preload li.nav-item.update,
body.save li.nav-item.update,
body.home li.nav-item.update
{
    display: none;
}
body.preload li.nav-item.save,
body.save li.nav-item.save,
body.home li.nav-item.save
{
    display: block;
}
body.update li.nav-item.save,
body.fiddle li.nav-item.save
{
    display: none;
}
body.update li.nav-item.update,
body.fiddle li.nav-item.update
{
    display: block;
}
