body.preload #update,
body.save #update,
body.home #update
{
    display: none;
}
body.preload #save,
body.save #save,
body.home #save
{
    display: block;
}
body.update #save,
body.fiddle #save
{
    display: none;
}
body.update #update,
body.fiddle #update
{
    display: block;
}
