<!DOCTYPE html>
<head
    data-version="<%= pkg.version %>">
  <meta charset="utf-8">
  <title>Graphviz it! - fiddle with diagrams</title>
  <meta name="description" content="Interactive Graphviz editor with neat animations"/>
  <meta name="keywords" content="graphviz, fiddle, editor, interactive, share"/>
  <link rel="stylesheet" type="text/css" href="stylesheet/navigation.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="stylesheet/layout.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="vendor/bootstrap/bootstrap.css"/>
</head>
<body class="preload">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <span class="navbar-brand"><em style="font-weight: bold">Graphviz it!</em></span>
    <span class="pull-right">
      <a id="update" class="btn btn-primary btn-sm navbar-btn" href="#/update">Update diagram</a>
      <a id="save" class="btn btn-primary btn-sm navbar-btn" href="#/save">Save diagram</a>
    </span>
  </div>
</nav>
<div id="editor"></div>
<div id="editor-bar" class="ace_status-indicator"></div>
<div id="graph"></div>
<nav class="navbar navbar-fixed-bottom navbar-inverse">
  <p class="navbar-text">Follow on <a href="https://twitter.com/graphvizit" class="navbar-link">Twitter</a></p>
  <p class="navbar-text">File an <a href="https://github.com/mstefaniuk/graphviz.it/issues" class="navbar-link">issue on Github</a></p>
  <p class="navbar-text">Send an <a href="mailto:contact@graphviz.it" class="navbar-link">email</a></p>
  <p class="navbar-text pull-right"><a href="https://github.com/mstefaniuk/graphviz.it/issues" class="navbar-link">Page</a> v<%= pkg.version %>
    / <a href="https://github.com/mstefaniuk/graph-viz-d3-js" class="navbar-link">Renderer</a> v<%= bwr.dependencies['graphviz-d3-renderer'] %></p>
</nav>

<script src="vendor/requirejs/require.js" data-main="main.js"></script>
</body>